@using System.Security.Claims
@{
    var listMenu = new Forum1.Models.Menu.ListMenu();
    string userRole = ViewBag.UserRole;
}
<header>
    <div class="divHeader">
        <nav>
            <ul>
                @if (User.Identity!.IsAuthenticated == false)
                {
                    @foreach (var item in listMenu.Menu)
                    {
                        <li class="headerli"><button class="btnm btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                }
                else if (User.IsInRole("Пользователь"))
                {
                    @foreach (var item in listMenu.UserMenu)
                    {
                        <li class="headerli"><button class="btnm btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                }
                else if (User.IsInRole("Администратор"))
                {
                    @foreach (var item in listMenu.AdminMenu)
                    {
                        <li class="headerli"><button class="btnm btn-primary"><a class="aClass" href="@Url.Action(item.Action, item.Controller)">@item.Label</a></button></li>
                    }
                }
            </ul>
        </nav>
    </div>
</header>